.products--grid {
  margin: 2em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
}

.product-detail {
  padding: 14px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);

  h1 {
    font-size: 1.2em;
  }

  img {
    width: 100%;
    height: 36vh;
    object-fit: cover;
    cursor: pointer;
  }

  &.active {
    transform: translateX(0);
  }
}

button {
  margin: 1em;
  background-color: transparent;
  border: none;
  .close {
    width: 14px;
    height: 14px;
  }
}

.slideAdd {
  width: 90%;
  padding: 1em 0.5em;
  font-family: "Quicksand";
  font-weight: bold;
  border: 1px solid pink;
  border-radius: 10px;
  cursor: pointer;
  transition: all linear 0.7s;
}

.slideAdd:hover {
  background-color: pink;
}

.extras {
  margin: 1em;
  padding: 10px;
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: bolder;
  border: 2px dashed #cebaee;
  color: #77e6e4;
  border-radius: 5px;
  cursor: pointer;
}

//Tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .products--grid {
    .products--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
  }
}

// Web - desktop
@media screen and (min-width: 64em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }

  .product-detail {
    left: 60%;
  }
}
