<a [routerLink]="['/product', product.id]">
  <app-summary *ngIf="product.images.length > 0" [img]="product.images[0]" width="200"></app-summary>
</a>
<div class="contentInfo">
  <h2>{{ product.price | currency : "EUR" }}</h2>
  <p>{{ product.title }}</p>
  <img routerLink="." [queryParams]="{product: product.id}" src="https://cdn-icons-png.flaticon.com/512/14/14777.png" alt="">
  <button (click)="onAddToCart()"><img src="../../../assets/add.png" alt=""></button>
</div>

<!--
  <div class="contentInfo">
  <h2>{{ product.price | currency:'EUR' }}</h2>
  <p>{{ product.title | replaceVowels }}</p>
  <p appHighlight>{{ product.description }}</p>
-->
