p, h2 {
  margin: 0;
  font-size: 1em;
}

p{
  font-size: .8em;
}

.contentInfo{
  width: 150px;
  margin: 0 auto;
  padding: 0 3em;
}

button {
  margin: 6px 2.4em;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  cursor: pointer;
  transition: all ease-out .5s;
}

button:hover {
  opacity: 0.6;
}

img {
  width: 34px;
  cursor: pointer;
}

// button:hover {
//   background-color: rgb(252, 176, 189);
// }
