/* You can add global styles to this file, and also import other style files */
@import url(./styles/reset.scss);

body {
  // background-color: #ea894c;
  background-image: url('https://marketplace.canva.com/EAFC908rtPY/1/0/1600w/canva-purple-and-peach-rainbow-waves-desktop-wallpaper-afsazXR5vWo.jpg');
  font-family: 'Quicksand', sans-serif;
}

.products--grid {
  app-summary {
    img {
      border-radius: 10px;
    }
  }
}
